<% content_for :canonical do %>
   <% link_to_canonical(@info) %>
 <% end %>

<% content_for :title do %>
  <%= @info.title.html_safe %> – 固铂轮胎中国官网
<% end %>

<%= render "share/news_sidebar"%>

<div id="rightcontent">
  <%= render :partial => 'path' %>
 <div id="newsdetail">
	
	
  <h2 class="h2"><%=raw @info.title.html_safe %></h2>
  <div class="date"><span>发布时间：<%=  @info.created_at.strftime("%Y.%m.%d ") %></span><span>新闻来源：<%= @info.source %></span><span>浏览次数：<%= @info.visit_count %></span></div> 
  <%= raw @info.content %>
 </div>
  <br />
  <br />
  <div class="prev"><%= link_to_prev_info(@info) %></div>
  <br>
  <div class="next"><%= link_to_next_info(@info) %></div>

  <table width="100%">
    <tr>
      <td align="right">
        分享到: 
      </td>
      <td align="right" width="200px">
       <!-- Baidu Button BEGIN -->
       <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <span class="bds_more">更多</span>
        <a class="shareCount"></a>
      </div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6785006" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      var bds_config = {
        'searchPic': 0,
        'wbUid':1828507915
      };

      document.getElementById('bdshell_js').src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
      </script>
    </td>
  </tr>
</table>
  

 <div class="totop"><a href="#header"><img src="/pic/totop.jpg" alt="回顶部" title="回顶部" /></a></div>
</div>
<div class="clear"></div>
